.farm-countdown {
	font-size: 2rem;
	margin-bottom: 3vh;
}

.farm-countdown-cooldown {
	color: #ff6666;
}

.farm-countdown-farming {
	color: wheat;
}

.farm-countdown-nocooldown {
	color: #00cc66;
}

.readable-button {
	color: wheat !important;
}

.deposit-warning {
	color: crimson;
	text-align: left;
}